* {
margin: 0;
padding:0;
box-sizing:border-box;
}
#timer{
padding-bottom:20px;
padding-top:20px;
width:400px;
background-color:aqua;
color:white;
position:relative;
margin:auto;
top:200px;
text-align:left;
padding-left:70px;
font-size:40px;
border-radius:50px;
}


body{
background:linear-gradient(to left,#0072ff,#00c6ff);
  font-family:'Roboto',sans-serif;
 }
.calculator{
background-color:#ffffff;
padding:20px;
border-radius:15px;
box-shadow: 9px 8px 30px rgba(9,0,0,9);
width:300px;
height:350px;
background-color:rgb(92, 155, 252);
margin:auto;
position:relative;
top:300px;

}
input{
width:100%;
font-size:2.2rem;
margin-top:10px;
border:none;
background-color:#f7f7f7;
text-align:right;
margin-bottom:34px;
border-radius:10px;
color:#333;
font-weight:bold;
box-shadow:inset 0 5px 5px rgba(0, 0, 0,0.1);o

}
.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
padding:10px;
background-color:red;
}
button {
border-radius:5px;
margin:5px 5px 5px 5px;
padding:5px;
width:50px;
font-size:16px;
}
button:nth-child(-n+4):hover{
background-color:#ffaa00;
font-weight:900;

}
.clear{
background-color:#06d6a0;
color:white;
font-weight:bold;
}
.clear:hover{
background-color:#d43d2f;}
