body {
font-family:Arial,sans-serif;
margin: 0;
padding:0;
}
header{
background:#1e90ff;
color:white;
text-align:center;
padding:40px;
}
nav {
    background: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}
section {
padding:40px;
}
form input,form textarea {
width:100%;
padding:10px;
margin:10px 0;
}
button{
background:#f0ff;
color:white;
border:none;
padding: 10px 20px;
}
ul li{
display: inline-block;
margin: 20px auto;
width:20vw;
}
footer{
background:#333;
color:white;
text-align:center;
padding:10px;}
