*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
font-family:'Roboto',sans-serif;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
background-color:   #f2ffcc ;
}
.container{
background-color:#6e4887;
border-radius:12px;
padding:30px;
box-shadow: 10px  20px rgba(0, 0,0.6,0.8);
width:500px;
}
h1{
font-size:2.2rem;
margin-bottom:20px;
font-weight:700;
color:#ff4dff;
text-align:center;
}
.textcontainer{
display:flex;
justify-content:space-between;
align-item:center;
margin-bottom:20px;
}
input[type="text"]{
width:70%;
padding:12px;
font-size:1rem;
border-radius:8px;
border:2px solid #0055ff;
outline:none;
transition:2s;}
input[type="text"]:focus{
border-color:#80ffff;
box-shadow: 0 10px 10px #0056b3;
}
button{
padding:12px 20px;
background-color:#ffff80;
color:#990099;
border:none;
border-radius:8px;
font-size:1rem;
cursor:pointer;
transition:0.3s;}
button:hover{
background-color:#bfff80;
}
ul{
list-style:none;
padding:0;}
li{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 0;
}
li button{
background-color:transparent;
color:#34a853;
font-size:1.5rem;
border:none;
cursor:pointer;
margin-right:10px;
transition:0.3s;}
li button:hover{
color:#0c661b;}
li.remove-btn{
background-color:#ea4335;
color:#fff;
border:none;
border-radius:5px;
padding:5px 10px;
cursor:pointer;
font-size:0.9rem;
transition:0.3s;}
li.remove-btn:hover{
background-color:#b71c1c;}
.completed{
text-decoration:line-throungh;
color:#6c757d;
}

