<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
         <li><a href="/">Home</a></li>
        <li><a href="/layout1">layout1</a></li>
        <li><a href="/layout2">layout2</a></li>
        <li><a href="/layout3">layout3</a></li>
        <li><a href="/layout4">layout4</a></li>

    </ul>
</body>
</html>